body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color:lightblue
}
.square {
  
  background-color: aqua;
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  /* line-height: 34px; */
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  border-radius: 1em;
}
#x{
color: lightgreen;
}
#y
{
  color: lightcoral;
}
.game {
  display: flex;
  flex-direction: row;
  margin-left: 35em;
 
}


.game-info {
  margin-left: 42em;
  margin-top:3em;
}
#btn
{
margin-left:33em;

/* margin-top:50px; */
}
#status
{
margin-left:40em;
/* margin-top:50px; */
}
p{
  font-size: 20px;
  font-weight: bold;
}
h1{
  text-align: center;
}
